* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(120, 70%, 25%);
  color: white;
  font-family: "Permanent Marker";
}

.main-body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.heading {
  font-size: 3rem;
  margin: 2.5rem;
  text-align: center;
}

.game-btn {
  width: 13.5rem;
  height: 3.75rem;
  border-radius: 2.5rem;
  border: none;
  display: block;
  margin: 6.25rem auto 0;
  cursor: pointer; 
  background-color: rgb(204, 42, 42);
  color: white;
  font-size: 2rem;
}

.game-btn:hover {
  opacity: 0.8;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", serif;
  font-weight: 400;
  font-style: normal;
}


.image-container {
  display: flex;
  margin-top: 7.5rem;
  width: 100%;
  justify-content: space-around;
}

.image-container > div {
  width: 21.875rem;
  transition: transform 1s ease-in-out;
}

.image-container > div > img {
  width: 100%;
}

.rolling {
  animation: roll 1s linear;
}

@keyframes roll {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}